html{
  scroll-behavior: smooth;
}
.navbar {
  background-color: #08223b;
  padding: 15px;
  height: 50px;
  margin-left: 8%;
  margin-right: 5%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  font-family: lucida sans;
}

.logo {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.logo::first-letter{
  color: #00fff2;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  transition: width 0.4s ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
  background-color: #00fff2;
}

/* Hamburger Button */
.hamburger {
  font-size: 28px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .navbar{
    margin-left: 1%;
    margin-right: 1%;
  }
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 3%;
    width: 25%;
    background-color: #00fff2;
    text-align: center;
    padding: 10px 0;
  }
  .nav-links a{
    color: black;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }
}
